<a href="https://colab.research.google.com/github/Lsastra/Pacmann/blob/main/Winata_f92b_Python_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tugas Python 4

* Silakan download dan kerjakan soal berikut dimanapun (laptop pribadi/google colab/etc.)
* Setelah selesai mengerjakan, upload file ini di tempat yang telah disediakan pada platform.
* Beri nama file seperti berikut: {username}-python-4.ipynb
* Contoh: johndoe1-python-4.ipynb
* Username dapat dilihat di dalam akun anda.
* Mohon jangan mengubah nama variabel yang telah diberikan.
* Namun anda diperbolehkan untuk menambah variabel apapun.
---

1. Ambil elemen ke-5 dari _tuple_ di bawah ini.
> ekspektasi jawaban: `'jumps'`

In [1]:
tuple_1 = ("the","quick","brown","fox","jumps","over","the","lazy","dog")

jawaban_1 = tuple_1[4]

2. Ambil empat elemen pertama dari _tuple_ di bawah ini.
> ekspektasi jawaban: `(1.5, 24, 3.523, 7.6)`

In [2]:
tuple_2 = (1.5,24,3.523,7.6,95,40.5,34)

jawaban_2 = tuple_2[0:4]

3. Ambil tiga elemen terakhir dari _tuple_ di bawah ini.
> ekspektasi jawaban: `(0.15, 2.11, -0.95)`

In [3]:
tuple_3 = (-1.92, 0.35, -0.03, -1.46, 1.58, -0.72, 2.61, 0.15, 2.11, -0.95)

jawaban_3 = tuple_3[-3:]

4. Dengan menggunakan _unpacking_, hitung nilai dari $a+2b-3c+4d$, dimana $a,b,c,d$ berturut-turut merupakan elemen pada _tuple_ di bawah ini.
> ekspektasi jawaban: `50`

In [5]:
tuple_4 = (12,-8,-10,6)

(a,b,c,d) = tuple_4
jawaban_4 = a+2*b-3*c+4*d

5. Ambil elemen kedua hingga kelima dari _list_ di bawah ini.
> ekspektasi jawaban: `[649.81, 'Bandung', 167.3, 'Bekasi']`

In [6]:
list_1 = ["Jakarta",649.81,"Bandung",167.30,"Bekasi",210.49,"Bogor",118.5]

jawaban_5 = list_1[1:5]

6. _List_ di bawah ini seharusnya berisi bilangan prima berurutan yang kurang dari 20. Ubah elemen yang salah.

In [7]:
primes_below_20 = [2,4,5,7,11,13,17,19]

jawaban_6 = 1
primes_below_20[jawaban_6] = 3
primes_below_20

[2, 3, 5, 7, 11, 13, 17, 19]

7. Ambil elemen "suka" dari nested list berikut.

In [8]:
list_2 = [["aku","suka"],["makan","rendang"]]

jawaban_7 = list_2[0][1]

8. Tambahkan elemen 24 ke akhir _list_ berikut.

In [9]:
list_3 = [8,16]

list_3.append(24)
jawaban_8 = list_3

9. Hapus elemen yang bernilai 15 dari _set_ berikut.

In [10]:
set_1 = {6,12,15,18}

jawaban_9 = set_1.remove(15)

10. Gabungkan dua _set_ berikut tanpa ada elemen yang berulang.
> ekspektasi jawaban: `{3, 4, 5, 8, 10, 11}`

In [12]:
set_A = {3,4,8,10}
set_B = {4,5,8,11}

jawaban_10 = set_A.union(set_B)

{3, 4, 5, 8, 10, 11}

11. Tentukan apakah set_B adalah subset dari set_A. Tipe data jawaban harus berupa Boolean.
> ekspektasi jawaban: `True`

In [15]:
set_A = {2,4,8,16,32,64,128}
set_B = {4,16,64}

jawaban_11 = set_B.issubset(set_A)

12. Buatlah _dictionary_ untuk data berikut:
* Nama: Mangga muda
* Warna Kulit: Hijau
* Warna Daging: Kuning
* Rasa: Asam\
Kemudian keluarkan _value_ dari _key_ "Warna Kulit".

In [16]:
data = {"Nama": "Mangga muda", "Warna Kulit": "Hijau", "Warna Daging": "Kuning", "Rasa": "Asam"}

jawaban_12 = data["Warna Kulit"]

13. Hapus elemen "Naga" pada _dictionary_ di bawah ini.

In [17]:
pets = {"Kucing":"Cat", "Anjing":"Dog", "Ikan mas hias":"Goldfish", "Naga":"Dragon"}

pets.pop("Naga")
jawaban_13 = pets
jawaban_13

{'Anjing': 'Dog', 'Ikan mas hias': 'Goldfish', 'Kucing': 'Cat'}

14. Diberikan data dua orang mahasiswa universitas Z berikut:
|Nama|Fakultas|Semester|Total SKS|
|------|-----|-----|-----|
|Andi|Teknik|6|126|
|Budi|Psikologi|6|118|

dimana Semester adalah semester keberapa mahasiswa tersebut saat ini dan Total SKS adalah banyaknya SKS yang diperoleh sampai saat ini. Tabel di atas telah diubah ke dalam bentuk _dictionary_ pada program di bawah.\
Untuk mengambil matakuliah Tugas Akhir, seorang mahasiswa wajib memperoleh minimal 120 SKS. Cek apakah Andi dan Budi dapat mengambil matakuliah Tugas Akhir atau tidak. Jawaban akan berupa _tuple_ berisi dua elemen Boolean, yang berturut-turut menyatakan apakah syarat pengambilan matakuliah Tugas Akhir sudah dipenuhi oleh Andi dan oleh Budi.\
**Hint:** gunakan operator _comparison_.

In [18]:
mahasiswa = {"Andi":{"Fakultas":"Teknik","Semester":6,"Total SKS":126},
            "Budi":{"Fakultas":"Psikologi","Semester":6,"Total SKS":118}}

andi = mahasiswa["Andi"]["Total SKS"] >= 120
budi = mahasiswa["Budi"]["Total SKS"] >= 120

jawaban_14 = (andi,budi)

15. Gunakan konsep pemrograman rekursif untuk menghitung jumlah $n$ suku pertama deret harmonik. Deret harmonik adalah deret sbb:
$$H(n) = 1 + \frac{1}{2} + \frac{1}{3} + \frac{1}{4} + \frac{1}{5} + \dots + \frac{1}{n}$$
Kemudian keluarkan jumlah 4 suku pertama deret harmonik.\
_Expected output_: 2.083333333333333.
**Pada variabel jawaban_15, isi dengan hasil penjumlahan 6 suku pertama deret harmonik.**

In [19]:
def harmonic(suku):
    if suku == 1:
        return 1
    else:
        return 1/suku + harmonic(suku-1)
print(harmonic(4))
jawaban_15 = harmonic(4)

2.083333333333333