<a href="https://colab.research.google.com/github/Lsastra/Pacmann/blob/main/winata_f92b_python_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tugas Python 2

* Silakan download dan kerjakan soal berikut dimanapun (laptop pribadi/google colab/etc.)
* Setelah selesai mengerjakan, upload file ini di tempat yang telah disediakan pada platform.
* Peserta **wajib** memberi nama file seperti berikut: {username}-python-2.ipynb
* **Contoh: johndoe1-t123-python-2.ipynb**
* Username dapat dilihat di dalam akun anda.
* Jika format nama tidak sesuai dengan ketentuan, maka tugas **tidak akan dinilai**.
* Mohon jangan mengubah nama variabel yang telah diberikan.
* Pada titik-titik yang diberikan masukkanlah variabel yang sesuai.
* Namun anda diperbolehkan untuk menambah kode apapun apapun.
---

## Contoh Menjawab

0. Suatu organisasi memiliki jumlah anggota 120. Ketika akan memulai rapat, jumlah peserta harus minimal $0.5n + 1$. Pada suatu hari, jumlah peserta yang hadir adalah 50. Tentukan rapat dilaksanakan atau tidak.

In [ ]:
minimal = ... #ganti titik-titik dengan minimum jumlah peserta
peserta_sekarang = 50

#ganti semua titik-titik dengan kode yang tepat
...:
    jawaban_0 = 'Jadi rapat.'
...:
    jawaban_0 = 'Tidak jadi rapat.'

**Contoh Jawaban**

In [ ]:
anggota = 120
minimal = 0.5*anggota + 1
peserta_sekarang = 50

if peserta_sekarang >= minimal:
    jawaban_0 = 'Jadi rapat.'
else:
    jawaban_0 = 'Tidak jadi rapat.'

print(jawaban_0) # ini tidak wajib, bisa digunakan jika anda ingin mengecek jawaban anda

---
---
## Soal

1. Untuk lulus mata kuliah statistika, perlu nilai akhir minimal 55. Gunakan operator _comparison_ untuk menentukan apakah Amir lulus mata kuliah tersebut atau tidak, bila diberikan nilai akhir Amir adalah 70.

In [1]:
nilai_amir = 70
nilai_minimal = 55

jawaban_1 = nilai_amir > nilai_minimal
print(f"Amir lulus mata kuliah statistik karena nilai Amir {jawaban_1} > dari nilai minimal")

Amir lulus mata kuliah statistik karena nilai Amir True > dari nilai minimal

2. Tentukan nilai kebenaran dari pernyataan berikut (True/False).\
$(13>12)$ OR ($11<10$ AND $9==8$)

In [2]:
jawaban_2 = (13>12) or (11 < 10 and 9 == 8)
jawaban_2

q2_step1 = 13>12
print(q2_step1)
q2_step2 = 11 < 10
print(q2_step2)
q2_step3 = 9 == 8
print(q2_step3)

#q2_step2 and q2_step3
q2_step4 = False and False
print(q2_step4)

#q2_step1 or q2_step4
q2_step5 = True or False
print(q2_step5)

True
False
False
False
True

3. Tentukan apakah 123456789 habis dibagi 11 atau tidak.

In [3]:
bilangan = 123456789
if bilangan % 11 == 0:
    jawaban_3 = 'Habis dibagi 11'
else:
    jawaban_3 = 'Tidak habis dibagi 11'

print(jawaban_3)

Tidak habis dibagi 11

# **Logic**

1. Sebuah nilai disimpan ke dalam suatu objek bernama "bilangan"
2. memanfaatkan modulo, yang akan menghasilkan nilai 0 apabila "bilangan" habis dibagi dengan value yang telah didefinisikan (Untuk kasus ini, 11 merupakan value tersebut)
3. Hasil modulo akan disandingkan dengan operator "cek kesamaan" dengan value 0, sehingga hasilnya akan True apabila "bilangan" habis dibagi dengan value
4. Apabila kondisi sebelumnya tidak terpenuhi, maka operasi else akan dilakukan, yaitu membuat nilai jawaban_3 menjadi "tidak habis dibagi"

**Catatan Winata**

4. Sistem keamanan yang dipasang di suatu bendungan akan memberikan alarm bahaya ketika tinggi air mencapai lebih dari 950 cm. Apabila tinggi air hari ini adalah 945 cm, tentukan apakah sistem akan memberikan alarm atau tidak.

In [4]:
hari_ini = 945
batasan = 950

if hari_ini > batasan:
    jawaban_4 = 'Bahaya!'
else:
    jawaban_4 = 'Tidak bahaya.'

print(jawaban_4)

Tidak bahaya.

5. Pak Man berbelanja di sebuah minimarket. Pak Man membeli 2 kg telur, 2 kotak susu, dan 5 bungkus mie instan. Harga masing-masing barang diberikan oleh tabel berikut.

|Barang|Harga|
|------|-----|
|Telur|Rp 17000/kg|
|Susu|Rp 28000/kotak|
|Mie instan|Rp 2000/bungkus|

Pak Man membawa uang Rp 100.000. Cek apakah uang Pak Man pas untuk membayar belanjaannya atau tidak.

In [5]:
telur = 17000
susu = 28000
mie_instan = 2000

total_belanja = 2*telur + 2 *susu + 5*mie_instan
uang_pakman = 100000

#ganti titik-titik dengan kode yang tepat
if total_belanja < uang_pakman:
    jawaban_5 = 'Uang lebih.'
elif total_belanja == uang_pakman:
    jawaban_5 = 'Uang pas.'
else:
    jawaban_5 = 'Uang kurang.'

print(jawaban_5)

Uang pas.

6. Arin mengikuti ujian mata kuliah Pemrograman. Jika nilai ujiannya di bawah 75, ia harus mengikuti perbaikan. Sebaliknya, jika nilai ujiannya 75 atau lebih, ia tidak perlu melakukan apa-apa. Ternyata, nilainya adalah 74. Apakah Arin memerlukan perbaikan ujian? Lengkapi _syntax_ di bawah ini.

In [6]:
nilai_arin = 74
nilai_minimal = 75

#ganti semua titik-titik dengan kode yang tepat
if nilai_arin >= nilai_minimal:
    pass
else:
    jawaban_6 = 'Perlu perbaikan.'

print(jawaban_6)

Perlu perbaikan.

7. Pada suatu agensi model, seleksi kandidat model dilakukan berdasarkan tinggi badan. Rata-rata tinggi model di agensi tersebut adalah 165 cm. Agensi menginginkan model yang memiliki tinggi yang seragam dengan rata-rata, namun mereka masih mau menerima model dengan toleransi tinggi 5 cm dari rata-rata. Artinya, kandidat yang diterima adalah kandidat dengan tinggi minimal 5 cm di bawah rata-rata sampai maksimal 5 cm di atas rata-rata. Apakah kandidat dengan tinggi 167 cm akan diterima agensi tersebut?

In [7]:
tinggi_model = 160

#ganti semua titik-titik dengan kode yang benar
if 160<=tinggi_model<=170:
    jawaban_7 = 'Diterima'
else:
    jawaban_7 = 'Tidak diterima'
print(jawaban_7)

Diterima

8. Suatu sekolah menyeleksi calon siswa baru berdasarkan nilai tes Matematika dan Bahasa Inggris. Calon siswa diterima di sekolah tersebut apabila nilai tes keduanya tidak ada yang kurang dari 75. Calon siswa yang diterima akan dibagi ke dalam tiga kelas: Kelas A, Kelas B, dan Kelas C. Kriterianya adalah sebagai berikut:
* Kelas A: nilai Matematika > 85 dan nilai Bahasa Inggris $\geq$ 80
* Kelas B: nilai Matematika > 80 dan nilai Bahasa Inggris $\geq$ 77.5
* Sisanya akan masuk ke kelas C\
\
Rudi mendapatkan nilai tes Matematika 84 dan tes Bahasa Inggris 77.5. Apakah Rudi diterima sebagai siswa sekolah tersebut? Jika ya, masuk ke kelas manakah dia?

In [8]:
nilai_mtk = 84
nilai_ing = 77.5

#ganti semua titik-titik dengan kode yang benar.
if nilai_mtk >= 75 and nilai_ing >= 75:
    if nilai_mtk > 85 and nilai_ing >= 80:
        jawaban_8 = 'Kelas A'
    elif nilai_mtk > 80 and nilai_ing >= 77.5:
        jawaban_8 = 'Kelas B'
    else:
        jawaban_8 = 'Kelas C'
else:
    jawaban_8 = 'Tidak diterima'

print(jawaban_8)

Kelas B

9. Keluarkan semua bilangan kelipatan 8 yang nilai kuadratnya di bawah 600.

In [9]:
i = 1
jawaban_9 = 600 #ganti dengan angka yang tepat

#ganti titik-titik dengan kode yang tepat
while (8*i)**2 < jawaban_9:
    print(8*i)
    i+=1

8
16
24

10. Hitung jumlah kuadrat dari bilangan bulat mulai dari 1 sampai 10.\
$$1^2 + 2^2 + \dots + 10^2$$

In [10]:
jawaban_10 = 0

#ganti semua titik-titik dengan kode yang tepat
for i in range(11):
    jawaban_10+=i**2

print(jawaban_10)

385

11. Keluarkan semua bilangan mulai dari 10 sampai 50, loncat 4.\
$$10, 14, 18, \dots$$

In [11]:
jawaban_11 = 10 #ganti titik-titik di samping dengan bilangan awalnya.

#tulis kodenya dibawah ini
while jawaban_11 < 50 :
  if jawaban_11 == 10:
    print(jawaban_11)
    jawaban_11 += 4
  else:
    print(jawaban_11)
    jawaban_11 +=4

print(jawaban_11)

10
14
18
22
26
30
34
38
42
46
50

12. Jabarkan huruf dari kata 'onomatopoeia', namun hentikan penjabaran ketika program sudah mengeluarkan huruf 't'. _Expected output_:
```
o
n
o
m
a
t
```

In [12]:
kata = 'onomatopoeia'
stop_word = "t"

#ganti titik-titik dengan kode yang tepat
for jawaban_12 in kata:
    if jawaban_12 == stop_word:
      break
    print(jawaban_12)
print(stop_word)

o
n
o
m
a
t

13. Keluarkan semua bilangan asli kurang dari 21, namun bilangan kelipatan 4 tidak diikutsertakan.

In [13]:
#ganti semua titik-titik dengan kode yang tepat
jawaban_13 = 0

while jawaban_13 < 20:
    jawaban_13 += 1
    if jawaban_13 % 4 == 0:
        pass
    else:
      print(jawaban_13)

1
2
3
5
6
7
9
10
11
13
14
15
17
18
19

14. Berapa jumlah semua bilangan asli kurang dari atau sama dengan 50, namun bilangan kelipatan 3 tidak diikutsertakan? Dengan kata lain, hitunglah $1+2+4+5+7+8+\dots+50$.

In [14]:
jawaban_14 = 0

for i in range(1,51):
    if i % 3 == 0 :
        continue
    jawaban_14 +=i
print(jawaban_14)

867

15. Keluarkan semua bilangan asli yang nilai kuadratnya lebih dari 20, dengan syarat:
* bilangan yang habis dibagi 3 atau 4 tidak ikut dikeluarkan, dan
* jika nilai kuadratnya sudah melewati 625, maka program berhenti.

In [15]:
#ganti titik-titik dengan kode yang tepat
angka = 0
while angka**2 < 625:
  angka += 1

for jawaban_15 in range(angka):
  if jawaban_15 ** 2 < 20:
    continue
  print(jawaban_15)

5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24